<div class="topbar">
  <div class="fill">
    <div class="container">
      <a class="brand" href="/"><img src="/images/melbourne.png">Melbourne</a>
      <ul class="nav">
        <li><a href="/">Home</a></li>
        <li><a href="http://www.melbourne.co.uk">Website</a></li>
        <li><a href="http://www.twitter.com/#!/MelbourneHost">Twitter</a></li>
        <li><a href="http://support.melbourne.co.uk">Support</a></li>
      </ul>
      <div class="pull-right">
        <% if current_user %>
          <%= render partial: 'shared/logout_link' %>
        <% else %>
          <%= form_tag(sessions_path, { :id => 'login-form'}) do %>
            <%= text_field_tag :username, '', :class => "input-small", :placeholder => "Username" %>
            <%= password_field_tag :password,'', :class => "input-small", :placeholder => "Password" %>
            <%= submit_tag "Sign In", :class => "btn info" %>
          <% end %>
          <ul id="logout-form" style="display:none;" class="nav"><li><%= link_to "Log out?", sessions_path(current_user), :id => 'logout-link', :method => :delete %></li></ul></div>
        <% end %>
      </div>
    </div>
  </div>
</div>