<div class="event">
  <h3><%= @event.title %>
  <span class="label <%= @event.status.title %>"><%= @event.status.title.humanize %></span></h3>
  <p><%= @event.description %></p>
  <h4><small><%= @event.timestamp %></small></h4>
</div>
<div class="updates">
  <h6>Updates (<%= @event.updates.count %>)</h6>
  <% @event.updates.each do |update| %>
    <%= render partial: "update", locals: { update: UpdateDecorator.new(update) } %>
  <% end %>
</div>