<!DOCTYPE html>
<html>
<head>
  <title>Server Status App</title>
  <meta content='text/html; charset=utf-8' http-equiv='Content-type'>
  <%= stylesheet_link_tag 'bootstrap.min', 'application' %>
  <%= javascript_include_tag 'jquery.min.js', 'application.js' %>
  <%= javascript_include_tag 'bootstrap-dropdown.js', 'bootstrap-alerts.js', 'bootstrap-buttons.js' %>
  <%= javascript_include_tag 'bootstrap-modal.js', 'bootstrap-twipsy.js', 'bootstrap-popover.js' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'shared/flash', :flash => flash %>

  <%= render partial: 'shared/topbar' %>

  <div class="container">

    <div class="content">
      <div class="page-header">
        <h1>Server Status<br><small>Active issues or planned maintenance will be announced here.</small></h1>
      </div>
      <div class="row">
        <div class="span10">
          <h2>Current Issues</h2>
          <%= yield %>
        </div>
        <div class="span4">
          <h3>Resolved Issues</h3>
        </div>
      </div>
    </div>

    <footer>
      <p>&copy; Melbourne 2012</p>
    </footer>

  </div> <!-- /container -->

</body>
</html>
