<!DOCTYPE html>
<html>
<head>
  <title>Server Status App</title>
  <%= stylesheet_link_tag 'bootstrap.min', 'application' %>
  <%= javascript_include_tag 'jquery.min.js', 'application.js' %>
  <%= javascript_include_tag 'bootstrap-dropdown.js', 'bootstrap-alerts.js', 'bootstrap-buttons.js' %>
  <%= javascript_include_tag 'bootstrap-modal.js', 'bootstrap-twipsy.js', 'bootstrap-popover.js' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'shared/flash', :flash => flash %>
  <%= yield %>
</body>
</html>
